<template>
  <div class="container">
    <div class="card pmd-card">
      <div class="card-header d-flex flex-row">
        <div class="media-body">
          <div class="row">
            <router-link :to="`/profiles`" class="btn btn-light btn-sm">
              <i class="fa fa-arrow-left"></i> กลับ
            </router-link>
            <h3 class="card-title">แก้ไขข้อมูลบัญชีผู้ใช้</h3>
          </div>
        </div>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-md-12">
            <img src =""/>
            <div class="row">
            <div class="form-group" style="margin-left:220px; margin-top:30px;">
              <div
              class="imagePreviewWrapper"
              :style="{'background-image':'url(${previewImage})'}"
              @click="selectImage">
              </div>
              <input ref="fileInput" type="file" @input="pickFile">
            </div>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="inputName">ชื่อผู้ใช้งาน</label>
          <input type="text" class="form-control" v-model="edit.username"/>
        </div>

        <div class="form-group">
          <label for="inputTel">รหัสผ่าน</label>
          <input type="password" class="form-control" v-model="edit.password"/>
        </div>

        <div class="form-group">
          <label for="inputName">ชื่อ</label>
          <input type="text" class="form-control" v-model="edit.name"/>
        </div>

        <div class="form-group">
          <label for="inputName">นามสกุล</label>
          <input type="text" class="form-control" v-model="edit.lastname"/>
        </div>

        <div class="form-group">
          <label for="inputEmail">อีเมล</label>
          <input
            type="email"
            class="form-control"
            name="email"
            v-model="edit.email"
          />
        </div>
        


      </div>
      <div class="card-footer">
        <a @click="save()" id="save" role="button" class="btn btn-secondary">บันทึก</a>
        <router-link router-link :to="`/profiles`" class="btn btn-secondary" id="cancle">ยกเลิก</router-link>
      </div>
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>
<script>

export default {
  data(){
    return{
      edit:{
        username: "",
        password: "",
        name: "",
        lastname: "",
        email: "",
      },
      previewImage: null
    }
  },
  method: {
    selectImage(){
      this.$refs.fileInput.click()
    },
    pickFile(){
      let input = this.$refs.fileInput
      let file = input.files
      if(file && file[0]){
        let reader = new FileReader
        reader.onload = e=>{
          this.previewImage = e.target.result
        }
        reader.readAsDataURL(file[0])
        this.$emit('input',file[0])
      }
    }
  }
}
</script>
<style scoped>
.container {
  width: 700px;
  height: 700px;
  padding: 4% 4% 4% 4%;
}
.card-title{
  margin-left:20px;
}
img {
  height: 150px;
  width: 150px;
  margin: auto auto;
  display: block;
}
.btn-light {
  border: 1px solid;
  margin-left: 8px;
  margin-top: 5px;
  height: 30px;
}
#save,
#cancle {
  margin-left: 5px;
  float: right;
}
.imagePreviewWrapper{
    display: block;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
}
</style>