<template>
  <div class="container">
    <div class="card pmd-card">
      <div class="card-header d-flex flex-row">
        <div class="media-body">
          <div class="row">
            <h3 class="card-title" style="margin-left:10px;">บัญชีผู้ใช้</h3>
            <router-link :to="`/profiles/edits`" class="btn btn-light"
              ><i class="fa fa-edit"></i> แก้ไข</router-link
            >
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <img src="" />
          </div>
        </div>

        <div class="form-group">
          <label>ชื่อ - นามสกุล</label>
          <input type="text" class="form-control" v-model="profile.name" />
        </div>

        <div class="form-group">
          <label>อีเมล</label>
          <input
            type="email"
            class="form-control"
            name="email"
            v-model="profile.email"
          />
        </div>
      </div>
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      info: '',
      profile: {
        password: '',
        name: '',
        email: '',
      },
    };
  },
  mounted() {
    this.profile = JSON.parse(localStorage.getItem('user_info'));
  },
};
</script>
<style scoped>
.container {
  width: 700px;
  height: 700px;
  padding: 4% 4% 4% 4%;
}
img {
  height: 150px;
  width: 150px;
  margin: auto auto;
  display: block;
}
.btn-light {
  border: 1px solid;
  margin-top: 5px;
  margin-left: 380px;
  height: 35px;
  widows: 120px;
}
</style>
