<template>
  <div class="container">
    <div class="ui-page-header">เพิ่มผู้ใช้งาน</div>
    <div class="ui-page-body">
      <div class="form-group">
        <div class="form-group">
          <label>ชื่อ-นามสกุล<span class="ui-required">*</span></label>
          <input type="text" class="form-control" v-model="fullname" />
          <div
            class="alert alert-danger w-100 mt-2 text-left"
            v-if="errors.fullname"
          >
            <ul v-for="(item, index) in errors.fullname" :key="index">
              <li>{{ item }}</li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label>อีเมล<span class="ui-required">*</span></label>
          <input
            type="email"
            class="form-control"
            name="email"
            v-model="email"
            max="50"
            maxlength="50"
          />
          <div
            class="alert alert-danger w-100 mt-2 text-left"
            v-if="errors.email"
          >
            <ul v-for="(item, index) in errors.email" :key="index">
              <li>{{ item }}</li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label>รหัสผ่าน <span class="ui-required">*</span></label>
          <input type="password" class="form-control" v-model="password" />

          <div
            class="alert alert-danger w-100 mt-2 text-left"
            v-if="errors.password"
          >
            <ul v-for="(item, index) in errors.password" :key="index">
              <li>{{ item }}</li>
            </ul>
          </div>
        </div>
        <div class="form-group">
          <label>ยืนยันรหัสผ่าน <span class="ui-required">*</span></label>
          <input
            type="password"
            class="form-control"
            v-model="confirmPassword"
          />
          <div
            class="alert alert-danger w-100 mt-2 text-left"
            v-if="errors.confirmPassword"
          >
            <ul v-for="(item, index) in errors.confirmPassword" :key="index">
              <li>{{ item }}</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>ตำแหน่ง <span class="ui-required">*</span></label>
        <select class="form-control" style="width: 20%" v-model="position">
          <option value="" disabled selected>-- เลือกตำแหน่ง --</option>
          <option value="1">พนักงานทั่วไป</option>
          <option value="2">แอดมิน</option>
        </select>
        <div
          class="alert alert-danger w-100 mt-2 text-left"
          v-if="errors.position"
        >
          <ul v-for="(item, index) in errors.position" :key="index">
            <li>{{ item }}</li>
          </ul>
        </div>
      </div>

      <div id="validation">
        <label
          ><input type="radio" name="radios" value="1" v-model="permission" />
          สามารถจัดการใบเสนอราคาเฉพาะของตนเอง</label
        >
        <br />
        <label
          ><input type="radio" name="radios" value="2" v-model="permission" />
          สามารถจัดการใบเสนอราคาทั้งหมด</label
        >
        <div
          class="alert alert-danger w-100 mt-2 text-left"
          v-if="errors.permission"
        >
          <ul v-for="(item, index) in errors.permission" :key="index">
            <li>{{ item }}</li>
          </ul>
        </div>
      </div>

      <br />
      <br />

      <a @click="save()" id="save" role="button" class="btn btn-secondary"
        >ยืนยัน</a
      >
      <router-link
        :to="`/settings/users`"
        id="cancle"
        type="button"
        class="btn btn-secondary"
        style="float: right"
        >ยกเลิก</router-link
      >
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      fullname: '',
      email: '',
      password: '',
      confirmPassword: '',
      position: '',
      status: '',
      permission: 1,
      errors: [],
    };
  },

  methods: {
    save() {
      this.loading = true;
      this.error = false;
      this.success = false;
      let access_token = localStorage.getItem('access_token');
      console.log(this.form);
      axios
        .post(
          'http://127.0.0.1:8000/api/add-user',
          {
            fullname: this.fullname,
            email: this.email,
            password: this.password,
            confirmPassword: this.confirmPassword,
            position: this.position,
            status: this.status,
            permission: this.permission,
          },
          {
            headers: {
              Accept: 'application/json',
              Authorization: 'Bearer ' + access_token,
            },
          }
        )
        .then((response) => {
          if (response.status === 200) {
            this.$router.push('/settings/users');
          }
        })
        .catch((error) => {
          console.log(error.response);
          this.errors = error.response.data.errors;
        });
    },
  },
};
</script>

<style>
#cancle {
  margin-right: 5px;
}
#save {
  float: right;
  color: white;
}
</style>
