<template>
  <div class="container">
    <div class="ui-page-header">รายละเอียดผู้ใช้งาน</div>
    <div class="ui-page-body">
      <div class="form-group">
        <label>ชื่อ-นามสกุล</label>
        <input
          type="text"
          class="form-control"
          v-model="detail.name"
          disabled
        />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>อีเมล</label>
        <input
          type="email"
          class="form-control"
          name="email"
          v-model="detail.email"
          max="50"
          maxlength="50"
          disabled
        />
        <div class="invalid-feedback"></div>
      </div>

      <div class="form-group">
        <label>ตำแหน่ง</label>
        <input
          type="text"
          class="form-control"
          v-model="detail.roles[0].name"
          disabled
        />
        <div class="invalid-feedback"></div>
      </div>

      <div name="validation">
        <label
          ><input
            type="radio"
            name="radios"
            value="2"
            v-model="detail.permission"
            disabled
          />
          สามารถจัดการใบเสนอราคาทั้งหมด</label
        >
        <br />
        <label
          ><input
            type="radio"
            name="radios"
            value="1"
            v-model="detail.permission"
            disabled
          />
          สามารถจัดการใบเสนอราคาเฉพาะของตนเอง</label
        >
      </div>
      <router-link
        router-link
        :to="`/settings/users`"
        class="btn btn-secondary"
        id="back"
        >กลับ</router-link
      >
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      detail: {
        name: '',
        email: '',
        roles: '',
        permission: '',
      },
    };
  },
  mounted() {
    this.getUserDetail();
  },

  methods: {
    getUserDetail() {
      let access_token = localStorage.getItem('access_token');
      axios
        .get('http://localhost:8000/api/user/' + this.$route.query.id, {
          headers: {
            Accept: 'application/json',
            Authorization: 'Bearer ' + access_token,
          },
        })
        .then((response) => {
          if (response.status === 200) {
            console.log(response.data);
            this.detail = response.data.data;

            if (response.data.data.permissions[0].name === 'full control') {
              this.detail.permission = '2';
            } else {
              this.detail.permission = '1';
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
#back {
  float: right;
  margin-top: 20px;
}
</style>
