<template>
  <div class="container">
    <div class="ui-page-header">แก้ไขผู้ใช้งาน</div>
    <div class="ui-page-body">
      <div class="form-group">
        <div class="form-group">
          <label>ชื่อ-นามสกุล<span class="ui-required">*</span></label>
          <input type="text" class="form-control" v-model="detail.name" />
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>อีเมล<span class="ui-required">*</span></label>
          <input
            type="email"
            class="form-control"
            name="email"
            v-model="detail.email"
            max="50"
            maxlength="50"
          />
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>รหัสผ่าน <span class="ui-required">*</span></label>
          <input
            type="password"
            class="form-control"
            v-model="detail.password"
          />
          <div class="invalid-feedback"></div>
        </div>
        <div class="form-group">
          <label>ยืนยันรหัสผ่าน <span class="ui-required">*</span></label>
          <input
            type="password"
            class="form-control"
            v-model="detail.confirmPassword"
          />
          <div class="invalid-feedback"></div>
        </div>
      </div>

      <div class="form-group">
        <label>ตำแหน่ง <span class="ui-required">*</span></label>
        <select
          class="form-control"
          style="width: 20%"
          v-model="detail.position"
        >
          <option value="" disabled selected>-- เลือกตำแหน่ง --</option>
          <option value="1">พนักงานทั่วไป</option>
          <option value="2">แอดมิน</option>
        </select>
      </div>

      <div id="validation">
        <label
          ><input
            type="radio"
            name="radios"
            value="1"
            v-model="detail.permission"
          />
          สามารถจัดการใบเสนอราคาเฉพาะของตนเอง</label
        >
        <br />
        <label
          ><input
            type="radio"
            name="radios"
            value="2"
            v-model="detail.permission"
          />
          สามารถจัดการใบเสนอราคาทั้งหมด</label
        >
      </div>

      <br />
      <br />

      <a @click="save()" id="save" role="button" class="btn btn-secondary"
        >ยืนยัน</a
      >
      <router-link
        :to="`/settings/users`"
        id="cancle"
        type="button"
        class="btn btn-secondary"
        style="float: right"
        >ยกเลิก</router-link
      >
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      detail: {
        name: '',
        email: '',
        password: '',
        confirmPassword: '',
        position: '',
        status: '',
        permission: '0',
      },
    };
  },
  methods: {
    save() {
      let access_token = localStorage.getItem('access_token');
      axios
        .put(
          'http://localhost:8000/api/user/' + this.$route.params.id,
          {
            fullname: this.detail.name,
            email: this.detail.email,
            password: this.detail.password,
            confirmPassword: this.detail.confirmPassword,
            position: this.detail.position,
            permission: this.detail.permission,
          },
          {
            headers: {
              Accept: 'application/json',
              Authorization: 'Bearer ' + access_token,
            },
          }
        )
        .then((response) => {
          if (response.status === 200) {
            console.log(response.data);
            this.$router.push('/settings/users');
          }
        });
    },
    getUserDetail() {
      let access_token = localStorage.getItem('access_token');
      axios
        .get(
          'http://localhost:8000/api/user/' + this.$route.params.id + '/edit',
          {
            headers: {
              Accept: 'application/json',
              Authorization: 'Bearer ' + access_token,
            },
          }
        )
        .then((response) => {
          if (response.status === 200) {
            console.log(response.data.data);
            this.detail = response.data.data;

            if (response.data.data.roles[0].name === 'admin') {
              this.detail.position = '2';
            } else {
              this.detail.position = '1';
            }

            if (response.data.data.permissions[0].name === 'full control') {
              this.detail.permission = '2';
            } else {
              this.detail.permission = '1';
            }
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  mounted() {
    this.getUserDetail();
  },
};
</script>

<style scoped>
#save,
#cancle {
  float: right;
  color: white;
  margin-left: 5px;
  margin-top: 20px;
}
</style>
