<template>
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" style="height:67px;">
        <img src="./assets/goldfish.png" class="platong-logo border border-warning rounded" />
        PlaThong.app
      </a>
    </nav>
    <br />
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>
      <router-link to="/dashboard">
        <a>หน้าแรก</a>
      </router-link>
      <router-link to="/quotation">
        <a>ใบเสนอราคา</a>
      </router-link>
      <a href="#">ตั้งค่า</a>
    </div>
    <span
      style="font-size:30px;cursor:pointer;display:flex;margin-top: -25px;"
      @click="openNav()"
    >&#9776; Menu</span>
    <!-- <div class="container"> -->
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-3">
          <div class="card ui-number-of-quotation">
            <div class="card-body">
              <h5>ใบเสนอราคาทั้งหมด</h5>
              <div class="ui-statistic-number">10</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card ui-number-of">
            <div class="card-body">
              <h5>...</h5>
              <div class="ui-statistic-number">...</div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card ui-number-of-">
            <div class="card-body">
              <h5>...</h5>
              <div class="ui-statistic-number">...</div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <b-dropdown
        id="dropdown-years"
        right
        text="-- เลือกปี --"
        variant="primary"
        class="col-md-1.5 float-right"
      >
        <b-dropdown-item href="#">อยากบอกคนดี</b-dropdown-item>
        <b-dropdown-item href="#">ว่าพี่ปีสอง</b-dropdown-item>
        <b-dropdown-item href="#">รักน้องปีหนึ่ง</b-dropdown-item>
      </b-dropdown>

      <div class="d-flex justify-content-center" style="margin-top:65px">
        <div class="card ui-graph">
          <div class="card-body">
            <h5>กราฟของปี xxxx</h5>
            <div class="ui-statistic-number">กราฟแท่ง</div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</template>
<script>
export default {
  methods: {
    openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    },
    closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    },
  },
};
</script>

<style>
.platong-logo {
  width: 70px;
  margin-top: -3.5px;
  margin-left: -4px;
}
.ui-number-of-quotation {
  background-color: #f5f5f5;
  border-color: #000000;
  color: black;
  width: 300px;
  height: 100px;
}
.ui-number-of {
  background-color: #f5f5f5;
  border-color: #000000;
  color: black;
  width: 300px;
  height: 100px;
  margin-left: 30px;
}
.ui-number-of- {
  background-color: #f5f5f5;
  border-color: #000000;
  color: black;
  width: 300px;
  height: 100px;
  margin-left: 60px;
}
.ui-graph {
  background-color: #f5f5f5;
  border-color: #000000;
  color: black;
  width: 900px;
  height: 300px;
  margin: auto;
}
.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
</style>