<template>
  <div id="app">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" style="height:67px;">
        <img
          src="./assets/goldfish.png"
          class=" platong-logo border border-warning rounded"
        />
        PlaThong.app
      </a>
    </nav>
    <br />
    <div class="container">
      <img src="./assets/Logoem.png" width="480" height="185" /><br /><br />
      <h3 class="text-center">ระบบจัดเก็บใบเสนอราคา</h3>
      <br />
      <div>
        <label for="username" style="display: inline-flex;"
          ><span style="width: 15vw;margin: auto;">บัญชีผู้ใช้งาน </span
          ><input
            id="username"
            name="username"
            type="text"
            placeholder="Enter username"
            class="form-control"
        /></label>
      </div>
      <div>
        <label for="password" style="display: inline-flex;"
          ><span style="width: 15vw;margin: auto;">รหัสผ่าน</span
          ><input
            id="password"
            name="password"
            type="password"
            placeholder="Enter password"
            class="form-control"
        /></label>
      </div>
      <br />
      <router-link to="/dashboard">
        <button type="button" class="btn btn-outline-primary">
          เข้าสู่ระบบ</button
        ><br /><br
      /></router-link>

      <div class="text-center">
        <a class="reset" href="./ForgotPassword">ลืมรหัสผ่าน?</a>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  //   name: 'App',
  data: () => {
    return {
      loading: false,
      error: false,
      loginRequest: {
        username: '',
        password: '',
      },
    };
  },
};
</script>

<style>
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');
#app {
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #180f12;
  background-color: white;
}
.platong-logo {
  width: 70px;
  margin-top: -3.5px;
  margin-left: -4px;
}
</style>
