<template>
  <div class="container">
    <div class="ui-page-header">เพิ่มใบเสนอราคา</div>

    <div class="ui-page-body">
      <form class="needs-validation">
        <!--number of quotation-->
        <div class="form-row">
          <!-- <div class="form-group col-md-4">
            <label for="inputNumber">เลขที่ใบเสนอราคา<span class="ui-required">*</span></label>
            <input
              type="text"
              class="form-control"
              placeholder="QA200713-001"
              v-model="quotation.quotationNumber"
            />
          </div> -->
          <div class="form-group col-md-4">
            <label for="issueDate"
              >วันที่ออกใบเสนอราคา<span class="ui-required">*</span></label
            >
            <input
              type="date"
              v-model="quotation.issue_date"
              class="form-control"
              id="issueDate"
              name="issueDate"
            />
            <div
              class="alert alert-danger w-100 mt-2"
              v-if="errors2.start_date"
            >
              <ul>
                <li v-for="(error, index) in errors2.start_date" :key="index">
                  {{ error }}
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="issueDate"
              >วันหมดอายุใบเสนอราคา<span class="ui-required">*</span></label
            >
            <input
              type="date"
              v-model="quotation.expire_date"
              class="form-control"
              id="expireDate"
              name="expireDate"
            />
            <div
              class="alert alert-danger w-100 mt-2"
              v-if="errors2.expire_date"
            >
              <ul>
                <li v-for="(error, index) in errors2.expire_date" :key="index">
                  {{ error }}
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="issueDate"
              >วันกำหนดส่งของ<span class="ui-required">*</span></label
            >
            <input
              type="date"
              v-model="quotation.delivery_date"
              class="form-control"
              id="deliveryDate"
              name="issueDate"
            />
            <div class="alert alert-danger w-100 mt-2" v-if="errors2.send_date">
              <ul>
                <li v-for="(error, index) in errors2.send_date" :key="index">
                  {{ error }}
                </li>
              </ul>
            </div>
          </div>
          <!--customer no-->

          <!-- <div class="form-group col-md-3">
            <label>ลูกค้า</label>
            <input 
                  type="text" 
                  class="form-control" 
                  v-model="quotation.codeCustomer"/>              
          </div> -->

          <!-- <div class="form-group col-md-1" style="padding-top: 5px">
            <button type='button' v-on:click="openModalAdd" class="btn btn-secondary btn-circle-add"><i class="fa fa-plus" aria-hidden="true"></i></button>
          </div> -->

          <!--date of quotation-->
        </div>
        <!--date of Expire quotation-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label
              >ชื่อ - นามสกุล พนักงานขาย<span class="ui-required"
                >*</span
              ></label
            >
            <input
              type="text"
              id="salemanName"
              class="form-control"
              v-model="quotation.saleman_name"
              required
            />
            <div class="alert alert-danger w-100 mt-2" v-if="errors2.name">
              <ul>
                <li v-for="(error, index) in errors2.name" :key="index">
                  กรุณากรอกชื่อผู้ขาย
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>เบอร์โทรศัพท์<span class="ui-required">*</span></label>
            <input
              type="text"
              class="form-control"
              v-model="quotation.phone_no"
            />
            <div class="alert alert-danger w-100 mt-2" v-if="errors2.phone">
              <ul>
                <li v-for="(error, index) in errors2.phone" :key="index">
                  กรุณากรอกเบอร์โทร
                </li>
              </ul>
            </div>
          </div>
          <div class="form-group col-md-4">
            <label>ยืนราคาภายใน (วัน)<span class="ui-required">*</span></label>
            <input
              type="number"
              id="validity"
              class="form-control"
              v-model="quotation.validity"
            />
            <div class="alert alert-danger w-100 mt-2" v-if="errors2.duration">
              <ul>
                <li v-for="(error, index) in errors2.duration" :key="index">
                  กรุณากรอกระยะเวลายืนยัน
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--date of Product delivery-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>ลูกค้า<span class="ui-required">*</span></label>
            <div class="input-group ">
              <select v-model="quotation.name" class="form-control">
                <option value="">เลือกลูกค้า</option>
                <option
                  v-for="(item, index) in customerLists"
                  :key="index"
                  :value="item.id"
                  >{{ item.name }}</option
                >
              </select>
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary btn-add-customer"
                  type="button"
                  id="button-addon2"
                  v-on:click="openModalAdd"
                >
                  <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
              </div>
              <div
                class="alert alert-danger w-100 mt-2"
                v-if="errors2.customer_id"
              >
                <ul>
                  <li
                    v-for="(error, index) in errors2.customer_id"
                    :key="index"
                  >
                    กรุณาเลือกลูกค้า
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="form-row">
          <div class="col-12"><h5>เงื่อนไขราคา</h5></div>

          <div class="form-group col-md-4">
            <label for="inputCredit"
              >เครดิต<span class="ui-required">*</span></label
            >
            <select
              id="credit"
              class="form-control"
              name="credit"
              v-model="quotation.credit"
            >
              <option value="7">7 วัน</option>
              <option value="15">15 วัน</option>
              <option value="30">30 วัน</option>
              <option value="45">45 วัน</option>
              <option value="manual">ระบุเอง</option>
            </select>
            <div class="alert alert-danger w-100 mt-2" v-if="errors2.credit">
              <ul>
                <li v-for="(error, index) in errors2.credit" :key="index">
                  {{ error }}
                </li>
              </ul>
            </div>
            <div class="py-2" v-if="quotation.credit == 'manual'">
              <div class="form-group">
                <label for="inputName"
                  >asdsdasd<span class="ui-required">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="customer_name"
                  v-model="quotation.customerName"
                />
              </div>
            </div>
          </div>

          <div class="form-group col-md-4">
            <label for="InputDiscount"
              >ส่วนลด<span class="ui-required">*</span></label
            >
            <select
              id="discount"
              class="form-control"
              name="state"
              v-model="quotation.discount_type"
            >
              <option value="NONE">ไม่มีส่วนลด</option>
              <option value="BY_DOCUMENT">ส่วนลดรวม</option>
              <option value="BY_ITEM">ส่วนลดแยก</option>
            </select>
            <div
              class="py-2"
              v-if="
                quotation.discount_type == 'BY_DOCUMENT' ||
                  quotation.discount_type == 'BY_ITEM'
              "
            >
              <div class="row">
                <div class="col-4 pr-0">
                  <span style="font-weight: bold;">รูปแบบส่วนลด</span>
                </div>
                <div class="col">
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      v-model="quotation.typeDiscount"
                      v-on:change="calculateSummary()"
                      name="typeDiscount"
                      id="typeBath"
                      value="bath"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="typeBath"
                      >ส่วนลดเป็นจำนวนเงิน (บาท)</label
                    >
                  </div>
                  <div class="custom-control custom-radio">
                    <input
                      type="radio"
                      v-model="quotation.typeDiscount"
                      v-on:change="calculateSummary()"
                      name="typeDiscount"
                      id="typePercent"
                      value="percent"
                      class="custom-control-input"
                    />
                    <label class="custom-control-label" for="typePercent"
                      >ส่วนลดเป็นเปอร์เซ็นต์ (%)</label
                    >
                  </div>
                </div>
              </div>
              <input
                v-if="quotation.discount_type == 'BY_DOCUMENT'"
                type="number"
                class="form-control my-1"
                name="discount"
                v-model="discount"
                @input="calculateSummary()"
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label for="InputTax"
              >ภาษีมูลค่าเพิ่ม<span class="ui-required">*</span></label
            >
            <select
              id="tax"
              class="form-control"
              name="tax"
              v-model="quotation.vat_type"
            >
              <option value="NO_VAT">ไม่มีภาษี</option>
              <option value="EXCLUDE_VAT">แยกภาษี 7%</option>
              <option value="INCLUDE_VAT">รวมภาษี 7%</option>
            </select>
            <div></div>
          </div>
        </div>
      </form>

      <br />
      <table class="table table-hover">
        <thead class="thead-dark">
          <tr class="text-center">
            <th scope="col">ลำดับ</th>
            <th scope="col">รายการสินค้า</th>
            <th scope="col">จำนวน</th>
            <th scope="col">ราคาต่อหน่วย</th>
            <th scope="col" v-if="quotation.discount_type == 'BY_ITEM'">
              ส่วนลด
            </th>
            <th scope="col">จำนวนเงินรวม</th>
            <th scope="col">
              <button
                id="add"
                type="button"
                data-toggle="tooltip"
                title="เพิ่มรายการสินค้า"
                data-placement="top"
                class="btn btn-secondary"
                @click="Addrow(), calculateNetTotal()"
              >
                เพิ่ม
              </button>
            </th>
          </tr>
        </thead>
        <tbody class="text-center" id="table">
          <tr v-for="(item, index) in quotation.itemList" :key="index">
            <td>{{ index + 1 }}</td>
            <td>
              <input
                type="text"
                name="list"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].name"
              />
            </td>
            <td style="width:180px">
              <input
                type="number"
                name="amount"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].amount"
              />
            </td>
            <td style="width:180px">
              <!-- <input type="number" name="price" @input="calculateSummary()" class="form-control text-center" v-model="itemList[index].price" /> -->
              <input
                type="number"
                name="price"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].price"
              />
            </td>
            <td style="width:180px" v-if="quotation.discount_type == 'BY_ITEM'">
              <input
                type="number"
                name="discount"
                @input="calculateSummary()"
                class="form-control text-center"
                v-model="quotation.itemList[index].discount"
              />
            </td>
            <td style="width:180px">
              <input
                type="text"
                name="sum"
                class="form-control text-center"
                v-model="quotation.itemList[index].sum"
                disabled
              />
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger glyphicon glyphicon-remove row-remove"
                @click="Deleterow(index), calculateAll()"
              >
                ลบ
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row" style="margin: 0;">
        <div class="col-6">
          <!--note-->
          <div class="form-group" id="note">
            <label>หมายเหตุ</label>
            <textarea
              class="form-control"
              id="note"
              name="note"
              rows="3"
              style="width:60%;"
              v-model="quotation.note"
            ></textarea>
          </div>
        </div>
        <div class="col-6">
          <!--sum-->
          <div class="form-row ">
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">รวม</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >รวม</label
              >
              <input
                id="total"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                v-model="quotation.sub_total"
                disabled
              />
            </div>
          </div>

          <div
            class="form-row"
            v-if="
              quotation.discount_type == 'BY_DOCUMENT' ||
                quotation.discount_type == 'BY_ITEM'
            "
          >
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ส่วนลดรวม</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >ส่วนลดรวม</label
              >
              <input
                id="total_discount"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                v-model="quotation.discount_amt"
                disabled
              />
            </div>
          </div>

          <div
            class="form-row"
            v-if="
              (quotation.vat_type == 'EXCLUDE_VAT' &&
                quotation.discount_type == 'BY_DOCUMENT') ||
                quotation.discount_type == 'BY_ITEM'
            "
          >
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >ยอดรวมหลังหักส่วนลด</label
              >
              <input
                id="vat_value"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                :value="quotation.sub_total - quotation.discountAll"
                disabled
              />
            </div>
          </div>

          <div class="form-row" v-if="quotation.vat_type == 'EXCLUDE_VAT'">
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ยอดรวมสุทธิ</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >แยกภาษี 7%</label
              >
              <input
                id="vat_value"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                v-model="quotation.vat_amt"
                value="0"
                disabled
              />
            </div>
          </div>

          <div
            class="form-row"
            v-if="
              quotation.discount_type == 'BY_DOCUMENT' ||
                quotation.discount_type == 'BY_ITEM' ||
                quotation.vat_type == 'EXCLUDE_VAT'
            "
          >
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ยอดรวมสุทธิ</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >ยอดรวมสุทธิ</label
              >
              <input
                id="net_total"
                type="number"
                class="form-control my-1 col-4"
                v-model="quotation.total"
                style="width:50%;"
                value="0"
                disabled
              />
            </div>
          </div>

          <div class="form-row" v-if="quotation.vat_type == 'INCLUDE_VAT'">
            <div
              class="row col-12 pr-0 d-flex justify-content-end"
              style="margin: 0"
              align="right"
            >
              <!-- <span style="font-weight: bold;">ยอดรวมสุทธิ</span> -->
              <label
                style="font-weight: bold; margin-top: 10px; margin-right:5px;"
                >รวมภาษี 7%</label
              >
              <input
                id="net_total"
                type="number"
                class="form-control my-1 col-4"
                style="width:50%;"
                :value="quotation.vat_amt.toFixed(2)"
                disabled
              />
            </div>
          </div>
        </div>
      </div>

      <!--button-->
      <br />
      <div class="form-row float-right">
        <a
          @click="input()"
          id="input"
          style="float:left;margin-right: 10px; "
          type="button"
          class="btn btn-secondary"
          >ยืนยัน</a
        >
        <!-- <router-link :to="`adds/bills`" id="cancle" type="button" class="btn btn-secondary" style="float:right;">ยืนยัน</router-link> -->
        <router-link
          :to="`/quotations`"
          id="cancle"
          type="button"
          class="btn btn-danger"
          style="float:right;"
          >ยกเลิก</router-link
        >
      </div>
    </div>
    <div class="ui-page-footer"></div>

    <!-- modal -->
    <div id="modal-add" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">เพิ่มลูกค้า</h5>

            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputName"
                  >ชื่อลูกค้า/ชื่อกิจการ (บริษัท)<span class="ui-required"
                    >*</span
                  ></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="customer_name"
                  v-model="customer.name"
                />
                <div class="alert alert-danger w-100 mt-2" v-if="errors.name">
                  <ul>
                    <li v-for="(error, index) in errors.name" :key="index">
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="inputName">ที่อยู่</label>
                <input
                  type="text"
                  class="form-control"
                  name="customer_address"
                  placeholder="ใส่เลขที่อาคาร ชั้นที่ ห้องที่ ห้องที่ ซอย (ถ้ามี) ตามที่อยู่จดทะเบียน"
                  v-model="customer.address"
                />
                <div
                  class="alert alert-danger w-100 mt-2"
                  v-if="errors.address"
                >
                  <ul>
                    <li v-for="(error, index) in errors.address" :key="index">
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName"
                  >แขวง/ตำบล<span class="ui-required">*</span></label
                >
                <input
                  id="search"
                  type="text"
                  class="form-control"
                  name="customer_distric"
                  placeholder="แขวง/ตำบล"
                  v-model="customer.subDistrict"
                  @input="searchDistrictAutoField()"
                />
                <div
                  class="alert alert-danger w-100 mt-2"
                  v-if="errors.sub_district"
                >
                  <ul>
                    <li
                      v-for="(error, index) in errors.sub_district"
                      :key="index"
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputName"
                  >เขต/อำเภอ<span class="ui-required">*</span></label
                >
                <input
                  id="amphoe"
                  type="text"
                  class="form-control"
                  name="customer_amphoe"
                  placeholder="เขต/อำเภอ"
                  v-model="customer.district"
                  @input="searchDistrictAutoField()"
                />
                <div
                  class="alert alert-danger w-100 mt-2"
                  v-if="errors.district"
                >
                  <ul>
                    <li v-for="(error, index) in errors.district" :key="index">
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName"
                  >จังหวัด<span class="ui-required">*</span></label
                >
                <input
                  id="province"
                  type="text"
                  class="form-control"
                  name="province"
                  placeholder="จังหวัด"
                  v-model="customer.province"
                />
                <div
                  class="alert alert-danger w-100 mt-2"
                  v-if="errors.province"
                >
                  <ul>
                    <li v-for="(error, index) in errors.province" :key="index">
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputName"
                  >รหัสไปรษณีย์<span class="ui-required">*</span></label
                >
                <input
                  id="zipcode"
                  type="text"
                  class="form-control"
                  name="customer_zipcode"
                  placeholder="รหัสไปรษณีย์"
                  v-model="customer.postalCode"
                />
                <div
                  class="alert alert-danger w-100 mt-2"
                  v-if="errors.postal_code"
                >
                  <ul>
                    <li
                      v-for="(error, index) in errors.postal_code"
                      :key="index"
                    >
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputName"
                  >อีเมล<span class="ui-required">*</span></label
                >
                <input
                  id="zipcode"
                  type="text"
                  class="form-control"
                  name="customer_email"
                  placeholder="อีเมล"
                  v-model="customer.email"
                />
                <div class="alert alert-danger w-100 mt-2" v-if="errors.email">
                  <ul>
                    <li v-for="(error, index) in errors.email" :key="index">
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
              <div class="form-group col-md-6">
                <label for="inputName"
                  >เบอร์โทรกลาง<span class="ui-required">*</span></label
                >
                <input
                  id="zipcode"
                  type="text"
                  class="form-control"
                  name="customer_Tele"
                  placeholder="เบอร์โทรบริษัท"
                  v-model="customer.phone"
                />
                <div class="alert alert-danger w-100 mt-2" v-if="errors.phone">
                  <ul>
                    <li v-for="(error, index) in errors.phone" :key="index">
                      {{ error }}
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              @click="addCustomer()"
            >
              ok
            </button>
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
// import { required } from 'vuelidate/lib/validators';
import json from './Thailand.json';
// import $ from "jquery";

export default {
  data() {
    return {
      customerLists: [],
      customer: {
        name: '',
        address: '',
        subDistrict: '',
        district: '',
        province: '',
        postalCode: '',
        email: '',
        phone: '',
      },

      quotation: {
        quotationNumber: '',

        issue_date: '',
        expire_date: '',
        delivery_date: '',
        saleman_name: '',
        phone_no: '',
        credit: '7',
        validity: '',
        vat_type: 'NO_VAT',
        vat_amt: 0,
        discount_type: 'NONE',
        discount_amt: 0,
        sub_total: 0,
        total: 0,

        name_customer: '',
        email: '',
        phone_no_customer: '',
        address: '',
        district: '',
        province: '',
        amphoe: '',
        zipcode: '',

        note: '',

        name: '',

        status: 'wait',

        itemList: [],
      },

      sum: 0,
      discount: 0,
      errors: [],
      errors2: [],
      // currenttime: "",
    };
  },
  mounted() {
    this.quotation.issue_date = new Date().toISOString().slice(0, 10);
    this.quotation.expire_date = new Date().toISOString().slice(0, 10);
    this.quotation.delivery_date = new Date().toISOString().slice(0, 10);
    this.getCustomerLists();
    this.Addrow();
  },
  methods: {
    getCustomerLists() {
      let access_token = localStorage.getItem('access_token');
      axios
        .get('http://localhost:8000/api/customer', {
          headers: {
            Accept: 'application/json',
            Authorization: 'Bearer ' + access_token,
          },
        })
        .then((response) => {
          console.log(response.data.data);
          this.customerLists = response.data.data;
        })
        .catch((error) => {
          console.log(error.response);
        });
    },
    addCustomer() {
      let access_token = localStorage.getItem('access_token');
      axios
        .post(
          'http://localhost:8000/api/customer',
          {
            name: this.customer.name,
            address: this.customer.address,
            sub_district: this.customer.subDistrict,
            district: this.customer.district,
            province: this.customer.province,
            postal_code: this.customer.postalCode,
            email: this.customer.email,
            phone: this.customer.phone,
          },
          {
            headers: {
              Accept: 'application/json',
              Authorization: 'Bearer ' + access_token,
            },
          }
        )
        .then((response) => {
          console.log(response.data);
          this.getCustomerLists();
          this.quotation.name = response.data.data.id;
          window.$('#modal-add').modal('hide');
        })
        .catch((error) => {
          console.log(error.response.data.errors);
          this.errors = error.response.data.errors;
        });
    },
    calculateSummary() {
      let summary = 0;
      let discountTotal = 0;
      this.quotation.itemList.forEach((item, index) => {
        try {
          if (item.name != '' && item.amount != '' && item.price != '') {
            if (this.quotation.discount_type == 'BY_ITEM') {
              if (this.quotation.typeDiscount == 'bath') {
                discountTotal += Number(item.discount);
                this.quotation.itemList[index].sum =
                  item.amount * item.price - item.discount;
                summary += this.quotation.itemList[index].sum;
              } else if (this.quotation.typeDiscount == 'percent') {
                this.quotation.itemList[index].sum =
                  item.amount * item.price -
                  (item.amount * item.price * item.discount) / 100;
                summary += this.quotation.itemList[index].sum;
                discountTotal +=
                  (item.amount * item.price * item.discount) / 100;
              }
            } else {
              discountTotal += item.discount;
              this.quotation.itemList[index].sum =
                item.amount * item.price - item.discount;
              summary += this.quotation.itemList[index].sum;
            }
          }

          this.quotation.sub_total = summary;
        } catch (ex) {
          console.warn('calculateSummary', ex);
        }
      });

      if (this.quotation.discount_type == 'BY_DOCUMENT') {
        const inputByDuc = this.discount;
        if (this.quotation.typeDiscount == 'bath') {
          this.quotation.discount_amt = Number(inputByDuc);
          this.quotation.total = summary - inputByDuc;
        } else if (this.quotation.typeDiscount == 'percent') {
          this.quotation.discount_amt = (summary * inputByDuc) / 100;
          this.quotation.total = summary - (summary * inputByDuc) / 100;
        }
      } else if (this.quotation.discount_type == 'BY_ITEM') {
        this.quotation.discountAll = discountTotal;
        this.quotation.total = summary - discountTotal;
      }
      if (this.quotation.vat_type == 'EXCLUDE_VAT') {
        this.quotation.vat_amt = 0.07 * this.quotation.total;
        this.quotation.total += this.quotation.vat_amt;
      } else {
        this.quotation.vat_amt = 0.07 * this.quotation.total;
      }
    },
    calculateAll() {
      this.sum = 0;
      this.quotation.itemList.forEach((item, index) => {
        this.sum += this.quotation.itemList[index].sum;
      });
      document.getElementById('total').value = this.sum;
    },
    calculateDiscount() {
      this.discount = 0;
      this.quotation.itemList.forEach((item) => {
        this.discount += Number(item.discount);
      });
      document.getElementById('total_discount').value = this.discount;
    },
    calculateNetTotal() {
      this.sum = 0;
      this.quotation.itemList.forEach((item, index) => {
        this.sum += this.quotation.itemList[index].sum;
      });

      const ele = document.getElementById('net_total');
      if (ele != null) ele.value = this.sum - this.discount;
    },

    searchDistrictAutoField() {
      console.log('dis', this.quotation.district);
      console.log('json', json);
      const district = this.quotation.district;
      const amphoe = this.quotation.amphoe;

      const result = json.filter((address) => {
        const regex_district = new RegExp(`^${district}`, 'gi');
        const regex_amphoe = new RegExp(`^${amphoe}`, 'gi');
        return (
          address.district.match(regex_district) &&
          address.amphoe.match(regex_amphoe)
        );
      });
      console.log('result', result);
      if (result.length == 1) {
        this.quotation.district = result[0].district;
        this.quotation.amphoe = result[0].amphoe;
        this.quotation.province = result[0].province;
        this.quotation.zipcode = result[0].zipcode;
      }
    },

    input() {
      this.loading = true;
      this.error = false;
      let access_token = localStorage.getItem('access_token');
      // axios.get(url,headers)
      // axios.post(url,data,headers)
      console.log(this.quotation);
      // for test
      //quotation_token = "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJkYXRhIjp7InBob25lTnVtYmVyIjoiMDEyMzQ1Njc4OSIsIm5hbWUiOiJqYW0iLCJ1c2VyVHlwZSI6ImFkbWluIiwidXNlcm5hbWUiOiJqYW0yNDEyIn0sImV4cCI6MTYxNTMxODI2MiwiaWF0IjoxNjE1Mjc1MDYyfQ.fN4q2Fns05caqlL0Mnf3hMrNi268nK-wp_fo9Tlgq5VFblK5qaGv1Z5IpjXgp5DbWcdp-0dwwNXHfOrNb4xnXy6hNsPI9A1BiPi-iHqGR8bdjBP0VVaDJvxt043jtL82YpMiN-_J-N0z5p5e7MLOqFqo3enXrKemt1EBpANRzC-Ngnu3DDVDab2Bf0vgEeSx-DuRQIajy0LHEVjwwjjOWBhAKwI5GPP7U2Ek96WUX2zELlSQmL24ipxSfK5wwb1VoQXCQ3bb9TUpCvvOnIU7jWIycJWNkdhui6dG_Bm_bQ2v5BRkm6Qe3XDm1fCFbh3HD6QvCuj0YNpp5-3feB-4WQ"
      axios
        .post(
          'http://localhost:8000/api/quotation',
          {
            start_date: this.quotation.issue_date,
            expire_date: this.quotation.expire_date,
            send_date: this.quotation.delivery_date,
            name: this.quotation.saleman_name,
            phone: this.quotation.phone_no,
            credit: this.quotation.credit,
            duration: this.quotation.validity,
            vat: this.quotation.vat_type,
            discount: this.quotation.discount_amt,
            sub_total: this.quotation.sub_total,
            total: this.quotation.total,
            customer_id: this.quotation.name,
            item: this.quotation.itemList,
            description: this.quotation.note,
          },
          {
            headers: {
              Accept: 'application/json',
              Authorization: 'Bearer ' + access_token,
            },
          }
        )
        .then((response) => {
          console.log(response.data);
          this.$router.push('/quotations');
        })
        .catch((error) => {
          console.log(error.response);
          this.errors2 = error.response.data.errors;
          console.log(this.errors2);
        });
    },

    Addrow() {
      this.quotation.itemList.push({
        name: '',
        amount: 0,
        price: 0,
        discount: 0,
        sum: 0,
      });
      this.calculateAll();
    },

    Deleterow(index) {
      let obj = [];
      for (let i = 0; i < this.quotation.itemList.length; i++) {
        if (index !== i) {
          const element = this.quotation.itemList[i];
          obj.push(element);
        }
      }
      this.quotation.itemList = obj;
    },
    openModalAdd() {
      // e.preventDefault();
      // $('#modal-add').modal('show');
      // $('#modal-add').on('hidden.bs.modal', (e) => {
      //     e.preventDefault();

      // })
      window.$('#modal-add').modal('show');
    },
  },
};
</script>

<style scoped>
#cancle {
  margin-right: 5px;
}
#form-sum {
  float: right;
  margin-top: 50px;
  width: 60%;
  margin-top: 58px;
}
.btn-add-customer {
  background-color: #00ff33;
  border-color: #00ff33;
  color: white;
}
</style>
