<template>
  <div class="container">
    <div class="ui-page-header">
      <h3><b>รายละเอียดใบเสนอราคา</b></h3>
    </div>

    <div class="ui-page-body">
      <!-- <div class="row float-right" style="margin-top:-1rem;margin-right:0.3rem;">
        <button
          id="save"
          type="button"
          class="btn btn-secondary fa fa-print"
          style="float:right;" > พิมพ์ใบเสนอราคา </button></div> -->

      <form>
        <!--number of quotation-->
        <div class="form-row">
          <div class="form-group col-md-4">
            <h5 class="card-text">
              <b>เลขที่ใบเสนอราคา:</b> {{ quotation.id }}
            </h5>

            <h5 style="margin-top: 25px;" class="card-text">
              <b>รายละเอียดลูกค้า:</b>
            </h5>

            <!--customer no-->
            <div class="form-row" style="margin-top: 15px;">
              <div class="form-group col-md-12">
                <!-- <label for="inputNumber"><b>รายละเอียดลูกค้า</b></label> -->
                <div class="card " style="width: 25rem;">
                  <div class="card-body">
                    <p class="card-text">
                      <b>รหัสลูกค้า:</b> {{ quotation.customer.code }}
                    </p>
                    <p class="card-text">
                      <b>ชื่อลูกค้า:</b> {{ quotation.customer.name }}
                    </p>
                    <p class="card-text">
                      <b>ที่อยู่: </b> {{ quotation.customer.address }}
                      {{ quotation.customer.sub_district }}
                      {{ quotation.customer.district }}
                      {{ quotation.customer.province }}
                      {{ quotation.customer.postal_code }}
                    </p>
                    <p class="card-text">
                      <b>เบอร์โทรติดต่อ:</b> {{ quotation.customer.phone }}
                    </p>
                    <p class="card-text">
                      <b>อีเมล:</b> {{ quotation.customer.email }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group col-md-3"></div>
          <div class="form-group col-md-4 ">
            <label for="inputNumber"><b>รายละเอียดใบเสนอราคา</b></label>
            <div class="card " style="width: 25rem;">
              <div class="card-body">
                <p class="card-text">
                  <b>วันที่ออกใบเสนอราคา: </b> {{ quotation.start_date }}
                </p>
                <p class="card-text">
                  <b>วันหมดอายุใบเสนอราคา: </b> {{ quotation.expire_date }}
                </p>
                <p class="card-text">
                  <b>วันกำหนดส่งของ:</b> {{ quotation.send_date }}
                </p>
                <p class="card-text">
                  <b>เครดิต (วัน):</b> {{ quotation.credit }}
                </p>
                <p class="card-text">
                  <b>ยืนราคาภายใน (วัน):</b> {{ quotation.duration }}
                </p>
                <p class="card-text"><b>พนักงานขาย:</b> {{ quotation.name }}</p>
                <p class="card-text"><b>ติดต่อ: </b> {{ quotation.phone }}</p>
                <h4 class="card-text">
                  <b>ยอดรวมทั้งสิ้น: </b>
                  {{ sum - quotation.discount }}
                </h4>
              </div>
            </div>
          </div>
        </div>

        <table class="table table-hover">
          <thead class="thead-dark">
            <tr class="text-center">
              <th scope="col">ลำดับ</th>
              <th scope="col">รายการสินค้า</th>
              <th scope="col">จำนวน</th>
              <th scope="col">ราคาต่อหน่วย</th>
              <th scope="col">
                ส่วนลด
              </th>
              <th scope="col">จำนวนเงินรวม</th>
            </tr>
          </thead>
          <tbody id="table">
            <tr
              v-for="(item, index) in order"
              :key="index"
              style="text-align: center; vertical-align: middle;"
            >
              <th style="width:20px;text-align:center;">{{ index + 1 }}</th>
              <td>{{ item.product }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.price * item.quantity - item.net_price }}</td>
              <td>{{ item.net_price }}</td>
            </tr>
          </tbody>
        </table>
      </form>

      <!--buttoin-->

      <router-link
        :to="`/quotations`"
        id="cancle"
        type="button"
        class="btn btn-secondary"
        style="float:right;"
        >กลับ</router-link
      >
    </div>

    <div class="ui-page-footer"></div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      quotation: '',
      sum: 0,
      order: [],
    };
  },
  mounted() {
    this.getQuatations();
  },
  methods: {
    getQuatations() {
      let access_token = localStorage.getItem('access_token');
      axios

        .get('http://localhost:8000/api/quotation/' + this.$route.params.id, {
          headers: {
            Accept: 'application/json',
            Authorization: 'Bearer ' + access_token,
          },
        })
        .then((response) => {
          console.log(response.data);
          this.quotation = response.data.data;
          this.sum = response.data.sum;
          this.order = response.data.order;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
#cancle {
  margin-right: 5px;
}
#form-sum {
  float: right;
  margin-top: 50px;
  width: 60%;
  margin-top: 58px;
}
</style>
