<template>
  <div class="container">
    <div class="ui-page-header">ใบเสนอราคา</div>
    <div class="ui-page-body">
      <div class="row">
        <!-- <div class="col-md-6"></div> -->
        <div class="col-md-9 text-left">
          <router-link
            :to="`/quotations/adds`"
            data-toggle="tooltip"
            title="เพิ่มใบเสนอราคา"
            data-placement="top"
            class="btn btn-secondary"
            ><i class="fa fa-plus-circle"></i> เพิ่ม</router-link
          >
        </div>
        <div class="col-md-3 text-right pull-right">
          <input
            class="form-control"
            id="search"
            type="text"
            placeholder="ค้นหาชื่อลูกค้า.."
            v-model="search"
          />
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-9"></div> -->
        <!-- <div class="col-md-3 text-left">
          <input
            class="form-control"
            style="margin-top:1rem;"
            id="search"
            type="text"
            placeholder="ค้นหา.."
            v-model="search"
          />
        </div> -->
      </div>

      <div class style="margin-top : 1rem;">
        <table class="table table-bordered table-hover">
          <thead style=" background-color:Gainsboro;">
            <tr style="text-align: center; vertical-align: middle;">
              <!-- <th scope="col">#</th> -->
              <th scope="col" style="text-align: center; width:1%;">ลำดับ</th>
              <th scope="col" style="text-align: center; ">วันที่ออกใบ</th>
              <th scope="col" style="text-align: center; width:100px;">
                เลขที่ใบเสนอราคา
              </th>
              <th scope="col" style="text-align: center; width:100px;">
                สถานะ
              </th>
              <th scope="col" style="text-align: center; width:100px;">
                ชื่อลูกค้า
              </th>
              <th scope="col" style="text-align: center; width:120px;">
                จำนวนเงินทั้งสิ้น(บาท)
              </th>
              <th scope="col" style="text-align: center; width:120px;"></th>
            </tr>
          </thead>
          <tbody id="table">
            <tr v-if="quotation.length <= 0">
              <td colspan="7" class="text-center">ไม่มีข้อมูล</td>
            </tr>
            <tr
              v-else
              v-for="(item, index) in quotation"
              :key="index"
              style="text-align: center; vertical-align: middle;"
            >
              <th style="width:10px;text-align:center;">{{ index + 1 }}</th>
              <td>{{ item.start_date }}</td>
              <td>{{ item.id }}</td>
              <td>
                <!-- {{item.status == "wait" ? "รออนุมัติ" : '' || item.status == "confirm" ? "ยืนยันการสั่งซื้อ" : '' || item.status == "complete" ? "ดำเนินการเสร็จสิ้น" : '' }} -->
                <select id="status" class="form-control" name="status">
                  <option
                    value="wait"
                    :selected="item.status == 'wait' ? 'selected' : ''"
                    >รออนุมัติ</option
                  >
                  <option
                    value="confirm"
                    :selected="item.status == 'confirm' ? 'selected' : ''"
                    >ยืนยันการสั่งซื้อ</option
                  >
                  <option
                    value="complete"
                    :selected="item.status == 'complete' ? 'selected' : ''"
                    >ดำเนินการเสร็จสิ้น</option
                  >
                </select>
              </td>
              <td>{{ item.customer.name }}</td>

              <td>{{ item.total }}</td>
              <td style="width: 121px; !important">
                <router-link
                  :to="`/quotations/details/${item.id}`"
                  type="button"
                  data-toggle="tooltip"
                  title="ดูรายละเอียด"
                  data-placement="top"
                  style="border: 1px solid;"
                  class="btn btn-info fa fa-search"
                ></router-link>
                <router-link
                  :to="`/quotations/edits/${item.id}`"
                  style="margin-left:0.5rem; "
                  class="btn btn-warning fa fa-edit"
                  title="แก้ไขใบเสนอราคา"
                ></router-link>
                <div
                  class="modal fade"
                  id="modaldeleteconfirm"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="modaldeleteconfirm"
                  aria-hidden="true"
                >
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title w-100" id="myModalLabel">
                          ลบข้อมูล
                        </h4>
                        <button
                          type="button"
                          class="close"
                          data-dismiss="modal"
                          aria-label="Close"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        คุณต้องการลบข้อมูลใช่หรือไม่ ?
                      </div>
                      <div class="modal-footer">
                        <button
                          type="button"
                          class="btn btn-secondary"
                          data-dismiss="modal"
                        >
                          ยกเลิก
                        </button>
                        <button
                          type="button"
                          @click="Deleterow(item.id)"
                          class="btn btn-success"
                          data-dismiss="modal"
                        >
                          ยืนยัน
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-danger fa fa-trash"
                  style="margin-left:0.5rem"
                  data-toggle="modal"
                  title="ลบใบเสนอราคา"
                  data-target="#modaldeleteconfirm"
                ></button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Modal delete confirm -->
      </div>
    </div>
    <div class="ui-page-footer"></div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      search: '',
      q2: [],
    };
  },

  async mounted() {
    this.getQuatations();
  },
  computed: {
    quotation() {
      return this.q2.filter((word) =>
        word.customer.name.toLowerCase().includes(this.search.toLowerCase())
      );
    },
  },
  methods: {
    getQuatations() {
      let access_token = localStorage.getItem('access_token');
      axios

        .get('http://localhost:8000/api/quotation', {
          headers: {
            Accept: 'application/json',
            Authorization: 'Bearer ' + access_token,
          },
        })
        .then((response) => {
          console.log(response);
          if (response.status === 200) {
            this.q2 = response.data.data;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    Deleterow(id) {
      let access_token = localStorage.getItem('access_token');
      axios
        .delete('http://localhost:8000/api/quotation/' + id, {
          headers: {
            Accept: 'application/json',
            Authorization: 'Bearer ' + access_token,
          },
        })
        .then((response) => {
          console.log(response);
          if (response.status === 200) {
            this.getQuatations();
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style scoped>
td {
  height: 50px;
  width: 50px;
}

#cssTable td {
  text-align: center;
  vertical-align: middle;
}
</style>
