<template>
  <div id="app">
    <div class="ui-toolbar">
      <div class="ui-app-brand">
        <img src="/image/goldfish.png" class="ui-app-logo" />
        PlaThong.app
      </div>
    </div>

    <div class="container text-center">
      <img
        src="../assets/Logoem.png"
        style="margin-top: 7rem"
        width="480"
        height="185"
      /><br /><br />
      <h3 class="text-center">ระบบจัดเก็บใบเสนอราคา</h3>
      <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="form-group w-100 text-left">
              <label for="email">อีเมลล์ </label>
              <input
                id="email"
                name="useremailname"
                type="text"
                placeholder="Enter email"
                class="form-control"
                max="50"
                maxlength="50"
                v-model="email"
              />
              <div
                class="alert alert-danger w-100 mt-2 text-left"
                v-if="errorMessage.email"
              >
                <ul v-for="(item, index) in errorMessage.email" :key="index">
                  <li>{{ item }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="text-left">
              <label for="password"><span>รหัสผ่าน</span></label>
              <input
                id="password"
                name="password"
                type="password"
                placeholder="Enter password"
                class="form-control"
                @keyup.enter="doLogin()"
                max="50"
                maxlength="50"
                v-model="password"
              />
              <div
                class="alert alert-danger w-100 mt-2 text-left"
                v-if="errorMessage.password"
              >
                <ul v-for="(item, index) in errorMessage.password" :key="index">
                  <li>{{ item }}</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button
          @click="doLogin()"
          type="button"
          style="margin-top: 1rem"
          class="btn btn-outline-primary"
        >
          <span v-if="!loading">เข้าสู่ระบบ</span>
          <div v-else>
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            <span>Loading...</span>
          </div>
        </button>
      </div>
      <!-- <router-link :to="`/dashboard`" type="button" style="margin-top:1rem;" class="btn btn-outline-primary">เข้าสู่ระบบ</router-link> -->
      <div class="text-center" style="margin-top: 1rem">
        <a class="reset" href="./ForgotPassword">ลืมรหัสผ่าน?</a>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data: () => {
    return {
      loading: false,
      error: false,
      email: '',
      password: '',
      errorMessage: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    doLogin() {
      this.loading = true;
      this.error = false;
      axios
        .post('http://localhost:8000/api/login', {
          email: this.email,
          password: this.password,
        })
        .then((response) => {
          console.log(response.data);
          this.loading = false;
          if (response.status === 200) {
            localStorage.setItem('access_token', response.data.access_token);
            localStorage.setItem(
              'user_info',
              JSON.stringify(response.data.user)
            );
            localStorage.setItem('role', response.data.user.roles[0].name);
          }
          this.$router.push('/dashboard');
        })
        .catch((error) => {
          this.loading = false;
          console.log(error.response.data);
          this.errorMessage = error.response.data.errors;
        });
    },
  },
};
</script>

<style scoped>
#app {
  color: #180f12;
  background-color: white;
}
.ui-toolbar {
  background-color: #343a40;
  height: 83px;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.ui-app-brand {
  line-height: 65px;
  height: 65px;
  font-size: 1.25rem;
  position: absolute;
  left: 10px;
  top: 10px;
}
.ui-app-logo {
  height: 65px;
  border: solid 1px #ffc107;
  float: left;
  margin-right: 1rem;
  padding: 5px;
  border-radius: 5px;
}
</style>
